/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* change font from default */
  font-family: Verdana, sans-serif;
  color: #222222;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #f1f4f7;
  font-size: .8em;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex-item {
  display: flex;
}

/* begin container styles */
.outercontainer {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  padding-top: 62.727px;
}

.contentoverwrap {
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.mystatuseswrapper {
  padding: 0 10px 0 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.alluserswrapper {
  padding: 0 10px 0 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

/* Begin header styles */
header {
  background: white;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0px 1px 5px #ccc;
  height: 43px;
  transition-property: all;
  transition-duration: .8s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.headercontainer {
  justify-content: space-between;
  align-items: flex-start;
  width: 992px;
  margin: auto;
}

.header-hide {
  height: 0px;
  overflow-y: hidden;
}

#nav-button {
  display: none;
}

nav {
  display: flex;
  width: 100%;
  justify-content: inherit;
}

.visuallyhidden {
  display: none;
}

header img {
  padding-top: 10px;
  height: 25px;
  margin-right: 15px;
}

/* Set flex-end to align element to the right of the outermost div and set display inline-block to arrange horizontally */
.toprightmenu {
  width: 215px;
  justify-content: flex-end;
  padding: 15px 0px 15px 0px;
}

.centernav {
  padding: 15px 0px 15px 0px;
}

footer {
  width: 100%;
  background: url("./images/footer_background.jpg") repeat;
  background-color: #222222; /* add background color in case images disabled */
  padding: 20px 20px;
}

.footercontent {
  width: 1032px;
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
  justify-content: space-between;
  align-items: center;
}

.footercontent a {
  color: whitesmoke;
}

.footercontent a:hover {
  color: whitesmoke;
}

.footercontent p {
  color: whitesmoke;
  font-size: 2em;
}

.footercontent ul {
  align-content: flex-start;
  justify-content: space-between;;
  width: 500px;
}

.footercontent ul li {
  justify-content: space-around;
}

/* Add pipe character after li with id of firstitem, add padding for equal spacing */
#firstitem:after {
  content: " |";
  padding-right: 5px;
}

/* Target individual menu items to create appropriate spacing and styling */
.centernav li a {
  margin: 0px 15px;
  text-decoration: none;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  -webkit-transition: all .1s;
  transition: all .1s;
}

/* Target the tagline with an id and assign some margins to align based */
#tagline {
  padding: 15px 0px 15px 10px;
  width: 215px;
}

/* begin homepage CSS */

/* add margins and padding to user image */
.userimage {
  margin: 0px 15px 10px 0px;
  border: 1px solid #ccc;
  float: left;
  height: 100px;
  width: 100px;
}

/* Set the text margin and padding in user status paragraphs */
.usertxt {
  margin-top: 10px;
  text-align:top;
}

aside {
  padding-top: 20px;
  width: 415px;
  background: white;
  border-radius: 4px;
  flex-direction: column;
}

.asidetxt {
  margin: 10px 0px;
}

.asideimage{
  width: 100px;
  height: 100px;
  margin: 0px 15px 10px 0px;
  border: 1px solid #ccc;
  float: left;
}

.featureheader {
  margin: 20px 20px 0px 20px;
  font-size: 150%;
  text-align: center;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  display: none;
}

.featureduser {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  background: white;
  margin: 0px 20px 20px 20px;
  padding: 20px 20px 10px 20px;
}

.beta {
  position:fixed;
  height: auto;
  background:#6889a8;
  bottom: 0px;
  right: 0px;
  padding: 10px 10px 10px 0px;
  opacity: .8;
  border: 1px solid #ccc;
  border-radius: 2px;
  z-index: 2;
}

.beta p {
  text-align: center;
  margin-right: 0px;
  margin-left: 10px;
  font-size: 80%;
  color: white;
}

/* add button styles */
.button {
  position: relative;
  border: none;
  padding: 5px 0px;
  color: white;
  border: 1px solid #314354;
  text-align: center;
  display: inline-block;
  margin: 5px 15px 10px 0px;
  width: 75px;
  cursor: pointer;
  border-radius: 4px;
  background: #354A7B; /* For browsers that do not support gradients */
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}

/* Add hover pseudo class to button to change gradient */
.button:hover{
  color: white;
  text-decoration: none;
  background:  #2B3C64; /* For browsers that do not support gradients */
}

/* Add active pseudo to change colors when a user clicks on the button */
.button:active {
  background:  #212E4D;
}

.load_button,
.load_button:hover,
.load_button:active {
  width: 200px;
  background: #9C9898;
  margin-bottom: 20px;
  margin-top: 0px;
  cursor: not-allowed;
}

.call_to_action {
  color: black;
  width: 200px;
  background: #FFE1E1;
  margin-bottom: 20px;
  margin-top: 0px;
}

.call_to_action:hover {
  color: black;
  background: #FFE1E1;
}

.call_to_action:active {
  background: #FFE1E1;
}

#postbutton {
  margin-top: 5px;
}

.replybutton {
  margin-top: 5px;
}

/* begin styles for mystatuses page */
.username {
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

.featuredusername {
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

/* Set style elements for date */
.date {
  color: #222222;
  display: inline-block;
}

.statuscontent {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  margin-bottom: 20px;
  padding: 20px 20px 10px 20px;
  min-height: 110px;
}

/* Set styles for main post form */
.poststatus {
  border-radius: 4px;
  background: #eee  ;
  margin-bottom: 20px;
  padding: 20px 20px 10px 20px;
  min-height: 160px;
  border: 1px solid #ccc;
}

.noscriptPost {
  display: block;
}

.weather {
  margin-bottom: 20px;
}

.weather_button {
  width: 150px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.postlink {
  width: 100%;
  margin: 0px 0px 20px 0px;
  width: 555px;
  color: white;
}

/* Set styles for reply form */
.reply_form {
  border-radius: 4px;
  background: #eee;
  margin: 10px 0px;
  padding: 20px 20px 15px 20px;
  display: none;
}

#post_form{
  display: none;
}

#geolocation,
#geolocation_text {
  display: inline!important;
}

textarea {
  margin: 5px 0px;
  width: 100%;
  height: 150px;
  padding: 12px 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  resize: none;
  color: #1D4E71;
}

.reply_form textarea {
  height: 80px;
}

.locationdiv {
  justify-content: space-between;
}

.location {
  margin: 5px 5px;
}

/* end styles for form */
.statuscontentcontainer {
  width:555px;
  flex-direction: column;
}

.profile {
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0px 10px 20px 10px;
}

.profile .bio {
  padding: 10px;
  background: white;
}

.background{
  height: 100px;
  background-color: #ddd;
}

.minipic {
  background: white; /* add background in case images disabled */
  position: absolute;
  border: solid white 5px;
  border-radius: 10px;
  float: left;
  z-index: 1;
  top: 60px;
  left: 5px;
  width: 70px;
  height: 70px;
}

.userinfo {
  padding: 5px 0px 5px 0px;
  font-size: 16px;
  font-weight: bolder;
  font-family: Arial;
  width: 100%;
  background: white;
}

.userinfo p {
  padding-left: 90px;
}

.useraddress {
  font-size: 12px;
  font-family: Arial;
  color: #222222;
  margin: 3px 20px 0px 0px;
}

.userstats {
  background: white;
}

.userstats ul {
  text-align: center;
  max-width: 300px;
  padding: 15px 0px 15px 0px;
}

.userstats li {
  padding: 0px 20px;
  text-align: center;
  font-size: 15px;
  font-family: Arial;
  color: #222222;
  background: white;
  display: inline-block;
}

.userstats li a {
  margin: auto;
  width: 180px;
}

.followstats {
  padding-left: 55px!important;
  padding-right: 55px!important;
}

.postcontainer {
  flex-direction: row;
  flex-wrap: wrap;
  width: 630px;
  margin: 0px 5px 20px 10px;
}

.statuspost {
  width: 46%;
  margin: 0px 20px 20px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.postheader {
  background: #ddd;
  padding: 10px;
  border-radius: 4px;
}

.postcontent {
  padding: 10px;
  background: white;
}

a {
  color: #3C5873;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #3C5873;
}

/* Keep anchor tags at bottom to define color styles */

.toprightmenu a {
  color: #3C5873;
  text-decoration: none;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.centernav li a:hover,
.toprightmenu a:hover {
  padding-bottom: 11px;
  border-bottom: 4px solid #3C5873;
  color: #3C5873;
}

img {
  border-radius: 4px;
}

#image_table {
  margin-bottom: 20px;
}

@media (max-width: 992px) {

  /* begin CSS for header */

  .headercontainer {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .toprightmenu {
    margin-right: 20px;
  }

  header img {
    margin-left: 20px;
  }

  footer {
    width: inherit;;
  }

  .footercontent {
    width: 100%;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
  }

   /* begin CSS for homepage */
   .weather {
     margin-left: 20px;
   }

  .postlink {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px 0px 20px 0px;
    align-self: center;
  }

  .outercontainer {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .contentoverwrap {
    flex-direction: column;
    justify-content: space-between;
  }

  .statuscontentcontainer {
    width:100%;
  }

  .statuscontent {
    margin: 0px 20px 20px 20px;
  }

  aside {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    padding-top: 0px;
    border-radius: 0px;
  }

  /* clear content right so text drops below image */
  .asideimage {
    clear: right
  }

  .asidetxt {
    margin: 10px 0px;
  }

  .featuredusername {
    width: 100%;
  }

  .featureheader {
    width: 58.5%;
    margin: 20px 20px 0px 20px;
    font-size: 150%;
  }

  .featureduser {
    width: 25%;
    margin: 20px 0px 20px 20px;
  }

  /* begin user status page */

  /* add margin to profile section */
  .postcontainer {
    width: 50%;
    margin: 0px 5px 20px 10px;
  }

  .statuspost {
    width: 99%;
    margin: 0px 0px 20px 0px;
  }

  .profile {
    position: relative;
    overflow: hidden;
    width: 45%;
  }

  .mystatuseswrapper {
    padding: 0 10px 0 10px;
    align-content: center;
    justify-content: center;
  }

  .poststatus {
    margin: 0px 20px 20px 20px;
  }

  #image_table {
    margin-left: 20px;
  }

  .call_to_action {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {

  /* begin styles for header and containers */
  .outercontainer {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #tagline {
    display: none;
  }

  #nav-button {
    display: block;
    height: 25px;
    width: 25px;
    margin: 9px 20px 9px 0px;
    background-color: white;
    border-color: #ddd;
    align-self: flex-end;
    border-radius: 4px;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    border: 1px solid #aeaeae;
  }

  #nav-button:hover {
    border: 1px solid #555555;
  }

  button {
    border: 1px solid black;
  }

  nav {
    display: none;
    align-self: center;
  }

  .nav-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    background: white;
    border-bottom: 1px solid #ccc;
  }

  .nav-show ul li {
    padding-top: 10px;
  }

  #mobile_view_header {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .logocontainer {
    width: 215px;
    margin: 0px 0px 0px 20px;
    flex-direction: row;
  }

  .headercontainer {
    flex-direction: column;
  }

  /* Set justify-content to center */
  .toprightmenu {
    padding: 0px;
    margin: 0px;
    align-items: center;
    flex-direction: column;
    width: auto;
  }

  #firstitem:after {
    content: none;
    padding-right: 0px;
  }

  /* Center main nav, keep center nav on bottom */
  .centernav {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .centernav li a {
    margin: 0px 10px;
    text-decoration: none;
  }

  /* redefine margin, width, and padding for proper layout */
  #tagline {
    margin: 0px;
    padding: 0px 10px 0px 10px;
    max-width: 200px;
    text-align: center;
  }

  /* begin CSS for homepage */
  .featureheader {
    width: auto;
  }

  .postlink {
    width: 358px;
  }

  .featureduser {
    width: auto;
    margin: 20px 20px 0px 20px;
  }

  /* add bottom margin to push profile image down */
  .beta {
    margin: 0px;
    width: 100%;
    position:fixed;
  }

  aside {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-radius: 0px;
  }

  .asidetxt {
    margin: 10px 0px;
  }

  .featuredusername {
    font-weight: bold;
    margin-top: 10px;
    display: block;
  }

  /* add extra space at bottom for beta notifcation */
  #bottomfeature{
    margin-bottom: 55px;
  }

  /* begin CSS for mystatuses page and allusers page */

  /* include margin-bottom for allusers page */
  .alluserspage {
    margin-bottom: 20px;
  }

  .profile {
    position: relative;
    overflow: hidden;
    width: 99%;
  }

  .postcontainer {
    width: 99%;
    margin: 0px 5px 20px 10px;
  }

  .statuspost {
    width: 99%;
    margin: 0px 0px 20px 0px;
  }
  /* adjust to 99% relative to container add margin for spacing*/

  .alluserswrapper {
    padding: 0 10px 0 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .centernav li a:hover,
  .toprightmenu a:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #6889a8;
    color: #6889a8;
  }

  footer {
    width: inherit;;
  }

  .footercontent {
    flex-direction: column;
  }

  .footercontent ul {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .footercontent ul li {
    padding-bottom: 5px;
  }
}
