/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* change font from default */
  font-family: Verdana, sans-serif; 
  color: #222222;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #f1f4f7;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex-item {
  display: flex;
}

/* begin container styles */
.outercontainer { 
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.contentoverwrap {
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.mystatuseswrapper {
  padding: 0 10px 0 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.alluserswrapper {
  padding: 0 10px 0 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

/* Begin header styles */
header {
  padding: 10px 10px 20px 10px;
  justify-content: space-between;
  align-items: flex-start;
  background: white;
  margin-bottom: 20px
}

header img {
  height: 130px;
}

.logocontainer {
  width: 215px;
  flex-direction: column;
}

/* Set flex-end to align element to the right of the outermost div and set display inline-block to arrange horizontally */
.toprightmenu {
  width: 215px;
  justify-content: flex-end;
}

/* Add pipe character after li with id of firstitem, add padding for equal spacing */
#firstitem:after {
  content: " |";
}

/* Center main nav */
.centernav {
  align-self: flex-end;
}

/* Target individual menu items to create appropriate spacing and styling */ 
.centernav li a {
  padding: 1px 15px;
  margin: 0px 1px;
  border: 1px solid #ccc;
  text-decoration: none;
  border-radius: 4px;
}

/* Target the tagline with an id and assign some margins to align based */ 
#tagline {
  margin-top: 10px;
  padding: 0px;
  width: 215px;
  text-align: center;
}

/* begin homepage CSS */

/* add margins and padding to user image */
.userimage {
  margin: 0px 15px 10px 0px;
  border: 1px solid #ccc;
  float: left;
  height: 100px;
  width: 100px;
}

/* Set the text margin and padding in user status paragraphs */
.usertxt {
  margin-top: 10px;
  text-align:top;
}

aside {
  width: 415px;
  background: white;
  border-radius: 4px;
}

.asidetxt {
  margin: 10px 0px;
}

.asideimage{
  width: 100px;
  height: 100px;
  margin: 0px 15px 10px 0px;
  border: 1px solid #ccc;
  float: left;
}

.featureheader {
  margin: 20px 20px 0px 20px;
  font-size: 150%;
  text-align: center;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  display: none;
}

.featureduser {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  background: white;
  margin: 20px;
  padding: 20px 20px 10px 20px;
}

.beta {
  position:fixed;
  width: 30%;
  height: auto;
  background:#e7cb94;
  bottom: 0px;
  right: 0px;
  padding: 10px 10px 10px 0px;
  opacity: .9;
  border: 1px solid #ccc;
  border-radius: 2px;
  z-index: 2;
}

.beta p {
  text-align: center;
  margin-right: 0px;
  margin-left: 10px;
  font-size: 80%;
}

/* add button styles */
.button {
  position: relative;
  border: none;
  color: white;
  padding: 10px 0px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 5px 15px 10px 0px;
  width: 100px;
  cursor: pointer;
  border-radius: 4px;
  background: #6889a8; /* For browsers that do not support gradients */
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}

/* Add hover pseudo class to button to change gradient */
.button:hover{
  color: white;
  text-decoration: none;
  background:  #4e6b88; /* For browsers that do not support gradients */
}

/* Add active pseudo to change colors when a user clicks on the button */
.button:active {
  background:  #47617c; 
}

#postbutton {
  margin-top: 5px;
}

.replybutton {
  margin-top: 5px;
}

/* begin styles for mystatuses page */
.username {
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

.featuredusername {
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

/* Set style elements for date */
.date {
  color: #aeaeae;
  display: inline-block;
}

.statuscontent {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  margin-bottom: 20px;
  padding: 20px 20px 10px 20px;
}

/* Set styles for main post form */
.poststatus {
  border-radius: 4px;
  background: #eee  ;
  margin-bottom: 20px;
  padding: 20px 20px 10px 20px;
  min-height: 160px;
  border: 1px solid #ccc;
}

.postlink {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px 0px 20px 0px;
}

/* Set styles for reply form */
.replypost {
  border-radius: 4px;
  background: #ddd;
  margin: 10px 0px;
  padding: 20px 20px 20px 20px;
  display: none;
}

textarea {
  margin: 5px 0px;
  width: 100%;
  height: 150px;
  padding: 12px 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  resize: none;
  color: #3182bd;
}

.reply_frm textarea {
  height: 80px;
}

.locationdiv {
  justify-content: space-between;
}

.location {
  margin: 5px 5px;
}

/* end styles for form */
.statuscontentcontainer {
  width:555px;
}

.profile {
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0px 10px 20px 10px;
}

.profile .bio {
  padding: 10px;
  background: white;
}

.profile .background{
  height: 100px;
  width: 100%;
}

.minipic {
  position: absolute;
  border: solid white 5px;
  border-radius: 10px;
  float: left;
  z-index: 1;
  top: 60px;
  left: 5px;
  width: 70px;
  height: 70px;
}

.userinfo {
  padding: 5px 0px 5px 90px;
  font-size: 16px;
  font-weight: bolder;
  font-family: Arial;
  width: 100%;
  background: white;
}

.useraddress {
  font-size: 12px;
  font-family: Arial;
  color: #979797;
  margin: 3px 20px 0px 0px;
}

.userstats {
  text-align: center;
  width: 300px;
  padding: 10px 0px 10px 0px;
  background: white;
}

.userstats li {
  padding: 0px 20px;
  text-align: center;
  font-size: 15px;
  font-family: Arial;
  color: #979797;
  background: white;
  display: inline-block;
}

.userstats li a {
  margin: auto;
  width: 180px;
}

.followstats {
  padding-left: 55px!important;
  padding-right: 55px!important;
}

.postcontainer {
  flex-direction: row;
  flex-wrap: wrap;
  width: 630px;
  margin: 0px 5px 20px 10px;
}

.statuspost {
  width: 46%;
  margin: 0px 20px 20px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.postheader {
  background: #ddd;
  padding: 10px;
  border-radius: 4px;
}

.postcontent {
  padding: 10px;
  background: white;
}

a {
  color: #557594;
  text-decoration: none;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  -webkit-transition: all .1s;
  transition: all .1s;
}

a:hover {
  text-decoration: underline;
}

/* Keep anchor tags at bottom to define color styles */
.toprightmenu a {
  color: #557594;
  text-decoration: none;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  -webkit-transition: all .1s;
  transition: all .1s;
  text-decoration: none;
}

.toprightmenu a:hover {
  padding-bottom: 3px;
  border-bottom: 3px solid #557594;
}

img {
  border-radius: 4px;
}

@media (max-width: 992px) {
   
   /* begin CSS for homepage */
  .outercontainer {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }

  .contentoverwrap {
    flex-direction: column;
    justify-content: space-between;
  }

  .statuscontentcontainer {
    width:100%;
  }

  .statuscontent {
    margin: 0px 20px 20px 20px;
  }

  aside {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    background: #ddd;
    border-radius: 0px;
  }

  /* clear content right so text drops below image */
  .asideimage {
    clear: right
  }

  .asidetxt {
    margin: 10px 0px;
  }

  .featuredusername {
    width: 100%;
  }

  .featureheader {
    width: 58.5%;
    margin: 20px 20px 0px 20px;
    font-size: 150%;
  }

  .featureduser {
    width: 25%;
    margin: 20px 0px 20px 20px;
  }

  /* reduce width to not overlay with aside features */
  .beta {
    margin: 20px;
  }

  /* begin user status page */

  /* add margin to profile section */
  .postcontainer {
    width: 50%;
    margin: 0px 5px 20px 10px;
  }

  .statuspost { 
    width: 99%;
    margin: 0px 0px 20px 0px;
  }

  .profile {
    position: relative;
    overflow: hidden;
    width: 45%;
  }

  .mystatuseswrapper {
    padding: 0 10px 0 10px;
    align-content: center;
    justify-content: center;
  }

  .poststatus {
    margin: 0px 20px 20px 20px;
  }

}

@media (max-width: 768px) {

  /* begin styles for header and containers */
  .outercontainer {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  /* Set justify-content to center */
  .toprightmenu {
    padding: 10px 0px;
    justify-content: center;
  }

  /* Center main nav, keep center nav on bottom */
  .centernav {
    order: 1;
    align-self: center;
  }

  /* redefine margin, width, and padding for proper layout */ 
  #tagline {
    margin: 0px;
    padding: 10px 10px 0px 10px;
    max-width: 200px;
    text-align: center;
  }

  /* begin CSS for homepage */
  .featureheader {
    width: auto;
  }

  .featureduser {
    width: auto;
    margin: 20px 20px 0px 20px;
  }
  
  /* add bottom margin to push profile image down */
  .beta {
    margin: 0px;
    width: 100%;
    position:fixed;
  }

  aside {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background: #ddd;
    border-radius: 0px;
  }

  .asidetxt {
    margin: 10px 0px;
  }

  .featuredusername {
    font-weight: bold;
    margin-top: 10px;
    display: block;
  }

  /* add extra space at bottom for beta notifcation */
  #bottomfeature{
    margin-bottom: 55px;
  }

  /* begin CSS for mystatuses page and allusers page */

  /* include margin-bottom for allusers page */
  .alluserspage {
    margin-bottom: 20px;
  }

  .profile {
    position: relative;
    overflow: hidden;
    width: 99%;
  }
  
  .postcontainer {
    width: 99%;
    margin: 0px 5px 20px 10px;
  }

  .statuspost {
    width: 99%; 
    margin: 0px 0px 20px 0px;
  }

  /* adjust to 99% relative to container add margin for spacing*/
  .alluserswrapper {
    padding: 0 10px 0 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
