/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* change font from default */
  font-family: Verdana, sans-serif; 
  color: #222222;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set fixed width and align to center of window */
.outercontainer { 
  display: flex;
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

header {
  padding: 10px 10px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

header img {
  height: 130px;
}

.logocontainer {
  width: 215px;
  display: flex;
  flex-direction: column;
}

#logo {
  display: flex;
}

.contentoverwrap {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.mystatuseswrapper {
  padding: 0 10px 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.alluserswrapper {
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

/* Set float to align element to the right of the outermost div and set display inline-block to arrange horizontally */
.toprightmenu {
  width: 215px;
  display: flex;
  justify-content: flex-end;
}

.toprightmenu li {
  display: flex;
}

/* Add pipe character after li with id of firstitem, add padding for equal spacing */
#firstitem:after {
  content: " |";
}

/* Center main nav */
.centernav {
  display: flex;
  align-self: flex-end;
}

.centernav li {
  display: flex;
  justify-content: center;
}

/* Target individual menu items to create appropriate spacing and styling */ 
.centernav li a {
  padding: 1px 15px;
  margin: 0px 1px;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 4px;
}

/* Target the tagline with an id and assign some margins to align based */ 
#tagline {
  margin-top: 10px;
  display: flex;
  padding: 0px;
  width: 215px;
  text-align: center;
}

/* Target the userimage with margins and padding */
.userimage {
  margin: 0px 15px 10px 0px;
  border: 1px solid black;
  float: left;
  height: 150px;
  width: 150px;
}

/* Set the text margin and padding in user status paragraphs */
.usertxt {
  margin-top: 10px;
  text-align:top;
}

aside {
  width: 415px;
  background: #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

.asidetxt {
  margin: 10px 0px;
}

 /* Set parameters of user status containers */
.status {
  display:block;
  float: left;
  margin-bottom: 10px;
}

.asideimage{
  width: 125px;
  height: 125px;
  margin: 0px 15px 10px 0px;
  border: 1px solid black;
  float: left;
}

/* Set style elements for users */
.username {
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

.featuredusername {
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

/* Set style elements for date */
.date {
  color: #aeaeae;
  display: inline-block;
}

/* Set status float */
.statuscontent {
  border: 1px solid black;
  border-radius: 4px;
  background: white;
  margin-bottom: 20px;
  padding: 20px 20px 10px 20px;
  min-height: 160px;
}

.statuscontentcontainer {
  width:555px;
}

.featureheader {
  margin: 20px 20px 0px 20px;
  font-size: 150%;
  text-align: center;
  background: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 20px;
  display: none;
}

.featureduser {
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 20px;
  background: white;
  margin: 20px;
  padding: 20px 20px 10px 20px;
}

.beta {
  position:fixed;
  width: 30%;
  height: auto;
  background:#e7cb94;
  bottom: 0px;
  right: 0px;
  padding: 10px 10px 10px 0px;
  opacity: .9;
  border: 1px solid black;
  border-radius: 2px;
}

.beta p {
  text-align: center;
  margin-right: 0px;
  margin-left: 10px;
  font-size: 80%;
}

/* add button styles */
.button {
  position: relative;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 15px 10px 0px;
  width: 100px;
  cursor: pointer;
  border-radius: 4px;
  background:  #e7969c; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( #e7969c, #ad494a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #e7969c, #ad494a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #e7969c, #ad494a); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #e7969c, #ad494a); /* Standard syntax */
}

/* Add hover pseudo class to button to change gradient */
.button:hover{
  color: white;
  background:  #ad494a; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( #ad494a, #e7969c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #ad494a, #e7969c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #ad494a, #e7969c); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #ad494a, #e7969c); /* Standard syntax */
}

/* Add active pseudo to change colors when a user clicks on the button */
.button:active {
  background:  #ad494a; 
  -moz-transition: all 0s;
  -o-transition: all 0s;
  -webkit-transition: all 0s;
  transition: all 0s;
}

.profile {
  position: relative;
  overflow: hidden;
  width: 300px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0px 10px 20px 10px;
}

.profile .bio {
  padding: 10px;
  float: left;
}

.profile .background{
  height: 100px;
  width: 100%;
}

.minipic {
  position: absolute;
  border: solid white 5px;
  border-radius: 10px;
  float: left;
  z-index: 1;
  top: 60px;
  left: 5px;
  width: 70px;
  height: 70px;
}

.userinfo {
  float: left;
  margin: 0px 5px 5px 90px;
  font-size: 16px;
  font-weight: bolder;
  font-family: Arial; 
  width: 190px;
}

.useraddress {
  font-size: 12px;
  font-family: Arial;
  color: #979797;
  margin: 3px 20px 0px 0px;
}

.userstats {
  text-align: center;
  width: 300px;
  margin: 10px 0px 10px 15px;
  float: left;
}

.userstats li {
  padding: 0px 20px;
  text-align: center;
  font-size: 15px;
  font-family: Arial;
  color: #979797;
  background: white;
  float: left; 
}

.userstats li a {
  margin: auto;
  width: 180px;
}

.followstats {
  padding-left: 55px!important;
  padding-right: 55px!important;
}

.postcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 630px;
  margin: 0px 5px 20px 10px;
}

.statuspost {
  width: 46%;
  margin: 0px 20px 20px 0px;
  border: 1px solid black;
  border-radius: 4px;
}

.postheader {
  background: #ddd;
  padding: 10px;
  border-radius: 4px;
}

.postcontent {
  padding: 10px;
}

.alluserspage {
  margin-left: 20px;
  margin-bottom: 20px;
}

/* Keep anchor tags at bottom to define color styles */
a {
  color: #d6616b;
  text-decoration: none;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
  transition: all 2s;
}

a:hover {
  color: #5254a3;
  text-decoration: underline;
  background-color: #cedb9c;
}

img {
  border-radius: 4px;
}

/* Begin responsive CSS */
@media screen and (max-width: 992px) {

  /* begin CSS for user status page */

  /* add margin to profile sectionn */
  
  /* float container left and decrease width to fit side by side with profile*/
  .postcontainer {
    width: 50%;
    margin: 0px 5px 20px 10px;
  }

  .statuspost { 
    width: 99%;
    margin: 0px 0px 20px 0px;
  }

  .profile {
    position: relative;
    overflow: hidden;
    width: 45%;
  }

  .mystatuseswrapper {
    padding: 0 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  /* end CSS for user status page */


  /* begin CSS for homepage */

  .outercontainer {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  .contentoverwrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .statuscontentcontainer {
    width:100%;
  }

  .statuscontent {
    margin: 0px 20px 20px 20px;
  }

   aside {
    width: 100%;
    background: #ddd;
    border-radius: 4px;
  }

  /* clear content right so text drops below image */
  .asideimage {
    clear: right
  }

  .asidetxt {
    margin: 10px 0px;
    float: left;
  }

  .featuredusername {
    float: left;
    width: 100%;
  }

  .featureheader {
    width: 58.5%;
    margin: 20px 20px 0px 20px;
    font-size: 150%;
  }

  .featureduser {
    width: 25%;
    float: left;
    margin: 20px 0px 20px 20px;
  }

  /* reduce width to not overlay with aside features */
  .beta {
    width: 25%;
    margin: 20px;
  }

  /*end CSS for homepage */
}
@media screen and (max-width: 768px) {

  /* begin CSS for user status page */

   /* add margin to profile section to center item */

  /* include margin-bottom for allusers page */
  .alluserspage {
    margin-bottom: 20px;
  }

  .profile {
    position: relative;
    overflow: hidden;
    width: 99%;
  }
  
  /* float container left and decrease width to fit side by side with profile*/
  .postcontainer {
    width: 99%;
    margin: 0px 5px 20px 10px;
  }

  .statuspost {
    width: 99%; 
    margin: 0px 0px 20px 0px;
  }

  /* adjust to 99% relative to container add margin for spacing*/
  .alluserswrapper {
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* end CSS for user status page */

  /* begin CSS for homepage */

  .outercontainer {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  /* Set float to align element to the right of the outermost div and set display inline-block to arrange horizontally */
  .toprightmenu {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
  }

  /* Add pipe character after li with id of firstitem, add padding for equal spacing */
  #firstitem:after {
      content: " |";
  }

  /* Center main nav, keep center nav on bottom */
  .centernav {
    order: 1;
    align-self: center;
  }

  /* redefine margin, width, and padding for proper layout */ 
  #tagline {
    margin: 0px;
    padding: 10px 10px 0px 10px;
    max-width: 200px;
    text-align: center;
  }

  /* remove border radius to lay flush with bottom */
  aside {
    border-radius: 0px;
  }

  /* remove float to center image */

  /* center item on page */

  .featureheader {
    width: auto;
  }

  .featureduser {
    width: auto;
    margin: 20px 20px 0px 20px;
  }

  footer {
    width: 100%;
  }
  
  /* add bottom margin to push profile image down */

  .beta {
    margin: 0px;
    width: 100%;
    position:fixed;
  }

  .asidetxt {
    margin: 10px 0px;
    float: none;
  }

  .featuredusername {
    font-weight: bold;
    margin-top: 10px;
    width: auto;
    float: none; 
  }
  
  /* add extra space at bottom for beta notifcation */
  #bottomfeature{
    margin-bottom: 55px;
  }

  /*end CSS for homepage */
}
